@use "../../styles/base/variables" as *;

.sidebar {
  position: relative;
  // position: absolute;
  // overflow: hidden;
  top: 0;
  left: 0;

  width: 226px;
  // height: 982px;
  // height: 100%;

  .sidebar-inner {
    border-right: 1px solid #0000004d;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    // height: 100%;
  }

  .sidebar-header {
    display: flex;
    align-items: center;
    // padding: 30px 0;
    justify-content: space-between;
    margin: 30px auto;
    height: 100px;
    width: 186px;

    .sidebar-logo {
    }

    h1 {
      color: #333333;
      font-size: 24px;
      font-weight: 700;
    }
  }

  .sidebar-menu {
    display: grid;
    // padding: 10px;

    .sidebar-button {
      display: flex;
      gap: 16px;
      align-items: center;
      height: 86px;
      width: 100%;
      font-size: 20px;
      margin: 10px 0;
      width: 100%;
      padding: 0 30px;
      border: none;
      outline: none;
      background: transparent;
      font-weight: 600;
      color: #666666;
    }
    .movies {
      border-right: 6px solid $rose-700;
      background: $rose-100;
    }

    .movie-quizes {
      margin: 30px 0;
      .quizes-card {
        width: 170px;
        height: 210px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 0 auto;
        background: $rose-100;
        border: 1px solid $rose-700;
        border-radius: 20px;
        padding: 0 15px;

        h3 {
          font-size: 15px;
          font-weight: 600;
          color: #333333;
          opacity: 0.8;
        }

        p {
          font-size: 12px;
          font-weight: 500;
          color: #333333;
          margin: 10px 0;
        }

        button {
          color: $rose-700;
          background: $rose-300;
          border: none;
          outline: none;
          padding: 5px 20px;
          border-radius: 30px;
        }
      }
    }
  }
}
