@use "../../styles/base/variables" as *;

.moviebox-navbar {
  max-width: 1440px;
  height: 80px;
  margin: auto;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
    .sign-in {
      color: $white;
      font-size: 16px;
      font-weight: 700;
    }

    .menu-icon {
      width: 36px;
      height: 36px;
      background-color: $rose-700;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;

      &:hover {
        cursor: pointer;
        background-color: $rose-600;
        transition: all 0.3s ease-in;
      }

      svg {
        fill: $white;
      }
    }
  }
}
