@use "../../styles/base/variables" as *;

.featured-container {
  max-width: 1440px;
  margin: auto;
  padding: 50px;
  // display: flex;
  // align-items: center;
  // justify-content: space-between;

  @media screen and (max-width: 370px) {
    padding: 20px;
  }

  .featured-text-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0px;

    @media screen and (max-width: 350px) {
      flex-direction: column;
      align-items: flex-start;
    }

    h2 {
      font-size: 36px;
      font-weight: 700;

      @media screen and (max-width: 640px) {
        font-size: 24px;
      }

      @media screen and (max-width: 500px) {
        font-size: 18px;
      }
    }

    p {
      a {
        text-decoration: none;
        color: $rose-700;
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;

        @media screen and (max-width: 500px) {
          font-size: 14px;
        }

        svg {
          width: 20px;
          height: 20px;
        }
      }
    }
  }

  .featured-movies {
    width: 100%;

    @media screen and (max-width: 1300px) {
    }

    .grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
      margin: 20px 0px;

      @media screen and (max-width: 1140px) {
        grid-template-columns: repeat(3, 1fr);
        place-items: center;
      }

      @media screen and (max-width: 920px) {
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
      }

      @media screen and (max-width: 640px) {
        grid-template-columns: repeat(1, 1fr);
        place-items: center;
      }
    }
  }
}
